<% comment.body %>
  <%= button_to "Delete", post_comment_path(@post, comment), method: :delete, data: {confirm: "Are you sure?"} %>
  <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
<% end %>
<hr>
