<p>Favourited: <%= @post.favourites.count %> times</p>

<% if @favourite.present? && @favourite.persisted? %>
  <%= link_to "Unfavourite", post_favourite_path(@post, @favourite), method: :delete %>
<% else %>
  <%= link_to "Favourite", post_favourites_path(@post), method: :post %>
<% end %>