<h2>About</h2>
<%= link_to image_tag(
  "https://pbs.twimg.com/profile_images/378800000182500573/27fc4f9ac9975a326288ab895d611c90_400x400.jpeg", 
  :size => "100x100") %>
<br>
This is a caffeinated blog.