<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <br>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :title %>
  <br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>