<h2><%= @post.title %></h2>
<% if @post.user.present? %>
  <p><em>Created By: <%= @post.user.name_display %></em></p>
<% end %>
<p><%= @post.body %></p>
<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"},
  class: "btn btn-danger" %>
<div class="favourite">
  <%= render partial: "/favourites/favourite" %>
</div>
<hr>
<div class="comments">
<h3>Comments</h3>
<%= render partial: "/comments/form" %>
<br>
<% @post.comments.each do |comment| %>
  <%= comment.body %>
  <%= link_to "Edit Comment", edit_post_comment_path(@post, comment), class: "btn btn-primary" %>
  <%= link_to "Delete Comment", post_comment_path(@post, comment), method: :delete, 
    class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
  <hr/>
<% end %>
</div>