/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  margin: 0px;
}

.container {
  padding: 2px;
}

#header {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px; 
}

#header a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-right: 2px;
  margin-left: 2px;
}