<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Coffee Blog</title>
  <%= stylesheet_link_tag    'external', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="external">
    <h1>Coffee Blog</h1>
    <div>
      <% if user_signed_in? %>
        Welcome <%= current_user.name_display %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </div>
    <div>
    <%= link_to "Home", homes_path %>
    |
    <%= link_to "Blog Posts", posts_path %>
    |
    <%= link_to "About", abouts_path %>
    </div>
  </div>
  <div class="container">
    <%= flash[:notice] || flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
